/NetBeans/MembershipORM/target/
/NetBeans/jfcmvc/nbproject/private/
/NetBeans/jfcmvc/build/
/NetBeans/jfcmvc2/build/
/NetBeans/jfcmvc2/jfcmvc/build/
/NetBeans/jfcmvc2/jfcmvc/nbproject/private/
/NetBeans/jfcmvc2/nbproject/private/
/NetBeans/Tugas4-StudiKasus/nbproject/private/
/NetBeans/Tugas4-StudiKasus/build/
/NetBeans/StudiKasus/nbproject/private/
/NetBeans/StudiKasus/build/
/NetBeans/Pertemuan12/build/
/NetBeans/Pertemuan12/nbproject/private/
